body{
    height: 100vh;
    background: #42AAFF;
    margin: 0; 
    padding: 0; 
}
header{
    height: 80px; 
    width: 250px; 
    background: #2A75A8;
    position: relative; 
    display: flex; 
    justify-content: left; 
    align-items: left;
    background-position: top; 
    box-shadow: 0cap 0cap 0.3cap black
}
.To{
    position: relative; 
    justify-content: left; 
    align-items: left; 
    display: flex;
    flex-direction: column;
    left: 70px;
    font-family: monospace; 
    font-size: 3em;
    top: -15px;
}
.create{
    height: auto;
    width: 130px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    padding-right: 2px;
    font-size: 1.1em;
    position: relative; 
    left: 60px; 
    top: 80px
    
}
.container{
    width: 250px; 
    height: 985px; 
    background: #2A75A8;
    position: absolute;
    box-shadow: 0cap 0cap 0.3cap black;
    padding: 0; 
    margin: 0;
    margin-right: 0; 
    gap: 0;
}
.fil{
    height: auto;
    width: 120px;
    border: 2px solid white;
    color: white;
    border-radius: 5px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
    position: relative; 
    left: 60px; 
    top: 105px
}
.line{
    border: none;
    background-color: black;
    height: 1px;
    position: relative; 
    top: 650px;
    width: 1734px;
    left: 125px;
}
.create:hover{
    transform:scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}
.fil:hover{
    transform: scale(1.1); 
    transition: 0.4s; 
    cursor: pointer;
}
.themes{
    height: auto;
    width: 115px;
    border: 2px solid white;
    color: white;
    border-radius: 5px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
    position: relative; 
    left: 60px; 
    top: 130px
}
.sett{
    height: auto;
    width: 85px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding-right: 5px; 
    padding-left: 5px; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1em;
    position: relative; 
    left: 80px; 
    top: 150px;
}
.sett:hover{
    transform: scale(1.1); 
    transition: 0.4s; 
    cursor: pointer;
}
.themes:hover{
    transform: scale(1.1); 
    transition: 0.4s; 
    cursor: pointer;
}
.create-container{
    display: none;
    position: relative; 
    height: 120px; 
    width: 500px; 
    background-color: white;
    left: 500px; 
    top: 300px;
    border-radius: 15px;
    padding: 6px 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid slategrey;
}
.name{
    border: none; 
    outline: none; 
    width: 480px;
    font-family: monospace;
    position: relative; 
    top: 1px
    
}
.description{
    border: none; 
    outline: none;
    width: 480px;
    font-family: monospace;
    font-size: 1.3em;
    position: relative; 
    top: -3px;
}
.time{
    border: none;
    outline: none;
    color: slategrey;
    position: relative;
    top: 10px;
    right: 31px;
}
.to-do-time{
    color: slategrey; 
    font-family: monospace; 
    font-size: 1em;
    position: relative; 
    top: -8px;
    left: 3px;
    pointer-events: none;
    
}
.create.container{
    display:block;
}