body{
    height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background: #171c23;
    
} 

button{ 
    height: 50px; 
    width: 380px;
    position: relative; 
    top: -60px;
    font-family: serif;
    font-size: 1.3em;
    font-weight: 500;
    left: 2px;
    background: #171c23;
    color: #ecf1fb;
    border: none;
    border-radius: 2px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    cursor: pointer;
}

.container{ 
    position: relative; 
    width: 450px; 
    height: 650px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
    box-shadow: 0cap 0cap 0.2cap black;
    background-color: #2b3138;
}
h2{ 
    display: flex; 
    justify-content: left; 
    align-items: left;
    font-size: 3em;
    margin-bottom: 100px;
    font-family: monospace;
    color: #ecf1fb;
}
input{
    position: relative; 
    height: 35px; 
    width: 100%;
    border: 1px solid #171c23;
    font-size: 1em;
    margin-bottom: 35px;
    top: -50px;
    background: #4a535d;
    color: #ecf1fb;
    
}
label{
    position: relative; 
    margin-bottom: 10px;
    top: -63px;
    font-size: 1.3em; 
    font-family: monospace;
    color: #ecf1fb;
}

.open{
    position: relative;
    bottom: -30px; 
    background: #2b3138;
    height: 50px; 
    width: 450px;
    border-radius: 5px; 
    box-shadow: 0cap 0cap 0.2cap black; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: monospace;
    font-size: 1.2em;
}
a{
    border-bottom: none; 
    outline: none;
    color: #457b9d;
    text-decoration: none;
    font-family: monospace;
}
header{
    height: 80px; 
    width: 100%; 
    background: #2b3138;
    position: relative; 
    display: flex; 
    justify-content: left; 
    align-items: left;
    background-position: top;
    top: -150px; 
    box-shadow: 0cap 0cap 0.2cap black; 
    color: #ecf1fb;
}
.To{
    position: relative; 
    justify-content: left; 
    align-items: left; 
    display: flex;
    flex-direction: column;
    left: 100px;
    font-family: monospace; 
    font-size: 3em;
    top: -15px;
}
.acc{
    color: #ecf1fb;
}
.error-mess{
    color: red;
    position: relative;
    display: block;
    width: 200px; 
    height: 20px;
    background: transparent;
    z-index: 5; 
    top: -90px;
    left: 25px;
    font-size: 1.1em; 
}
